<!-- src/app/header/header.component.html -->
<header>
  <div class="top-header">
    <p>CREATIVE CV</p>
    <nav>
      <ul>
        <li><a href="#about">ABOUT</a></li>
        <li><a href="#skills">SKILLS</a></li>
        <li><a href="#portfolio">PORTFOLIO</a></li>
        <li><a href="#experience">EXPERIENCE</a></li>
        <li><a href="#contact">CONTACT</a></li>
      </ul>
    </nav>
  </div>
  <img src="../../assets/ten_hag.jpeg" alt="profile" class="profile" />
  <h1>Anthony Barnett</h1>
  <h2>WEB DEVELOPER, GRAPHIC DESIGNER, PHOTOGRAPHER</h2>
  <button>Hire Me</button>
  <button>Download CV</button>
</header>
